.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #FFE0AF;
  background-image:
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88), 
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
  linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  -webkit-animation: scroll 5s linear infinite;
}

@-webkit-keyframes scroll {
  from { background-position: 0 0, 50px 50px, 50px 0; }
  to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}
